$theme-cols-names: 'alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta';
$theme-cols-num: 6;
$theme-col-alpha-0: #E8EC61;
$theme-col-alpha-1: #FDFEB7;
$theme-col-alpha-2: #FBFE8D;
$theme-col-alpha-3: #CBCE3B;
$theme-col-alpha-4: #A6AA1D;
$theme-col-beta-0: #6FC952;
$theme-col-beta-1: #BBEEAB;
$theme-col-beta-2: #94DF7C;
$theme-col-beta-3: #51B032;
$theme-col-beta-4: #369119;
$theme-col-gamma-0: #EDC661;
$theme-col-gamma-1: #FFEBB7;
$theme-col-gamma-2: #FFDF8D;
$theme-col-gamma-3: #D0A63B;
$theme-col-gamma-4: #AB831D;
$theme-col-delta-0: #F5FA46;
$theme-col-delta-1: #FEFFEC;
$theme-col-delta-2: #FBFE88;
$theme-col-delta-3: #D3D905;
$theme-col-delta-4: #949800;
$theme-col-epsilon-0: #60D53B;
$theme-col-epsilon-1: #EAF8E5;
$theme-col-epsilon-2: #94E57A;
$theme-col-epsilon-3: #30B905;
$theme-col-epsilon-4: #1F8200;
$theme-col-zeta-0: #FBC946;
$theme-col-zeta-1: #FFFAEC;
$theme-col-zeta-2: #FFDE88;
$theme-col-zeta-3: #DA9F05;
$theme-col-zeta-4: #996E00;
$theme-cols-alpha: $theme-col-alpha-0, $theme-col-alpha-1, $theme-col-alpha-2, $theme-col-alpha-3, $theme-col-alpha-4;
$theme-cols-beta: $theme-col-beta-0, $theme-col-beta-1, $theme-col-beta-2, $theme-col-beta-3, $theme-col-beta-4;
$theme-cols-gamma: $theme-col-gamma-0, $theme-col-gamma-1, $theme-col-gamma-2, $theme-col-gamma-3, $theme-col-gamma-4;
$theme-cols-delta: $theme-col-delta-0, $theme-col-delta-1, $theme-col-delta-2, $theme-col-delta-3, $theme-col-delta-4;
$theme-cols-epsilon: $theme-col-epsilon-0, $theme-col-epsilon-1, $theme-col-epsilon-2, $theme-col-epsilon-3, $theme-col-epsilon-4;
$theme-cols-zeta: $theme-col-zeta-0, $theme-col-zeta-1, $theme-col-zeta-2, $theme-col-zeta-3, $theme-col-zeta-4;
$theme-cols: $theme-cols-alpha, $theme-cols-beta, $theme-cols-gamma, $theme-cols-delta, $theme-cols-epsilon, $theme-cols-zeta;